div.main {
    width: 100vw;
    margin: 100px 0 500px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    div.topTitle {
        width: 389px;
        height: 74px;

        display: flex;
        flex-direction: column;
        align-items: center;

        // outline: 1px solid red;

        p:nth-child(1) {        
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        p:nth-child(2) {
            align-self: flex-end;
            margin-top: -35px;
            opacity: 0.7;
        
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 24px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
        }
    }


    div.Spaces {
        width: 100%;
        margin-top: 124px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        div.Body1 {
            width: 1000px;
            padding-bottom: 200px;
            flex-shrink: 0;
        
            position: relative;
        
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: 50px;
            row-gap: 100px;
        
            // outline: 1px solid red;

            div.horizontalLine {
                width: 1px;
                height: 90%;
                background: #000;
                opacity: 0.5;

                position: absolute;
                top: -27px;
                left: 50%;
            }

            button {
                border: none;
                background: none;
                cursor: pointer;

                &:hover {
                    background: none;
                }
            }
        }

        p.info {
            margin-top: 200px;
            opacity: 0.7;
        
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 36px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}


@mixin screen320 {
    div.main {
        div.topTitle {
            width: 95%;
            
            p:nth-child(1) {
                font-size: 26px;
            }

            p:nth-child(2) {
                font-size: 22px;
                margin-top: -20px;
            }
        }

        div.Spaces {
            div.Body1 {
                width: 95%;

                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;

                div.horizontalLine {
                    display: none;
                }
            }

            p.info {
                font-size: 28px;
            }
        }
    }
}


@mixin screen600 {
    @include screen320;

    div.main {
        div.Spaces {
            div.Body1 {
                flex-direction: row;
                justify-content: space-between;
                align-items: normal;
                flex-wrap: wrap;
            }
        }
    }
}


@mixin screen768 {
    div.main {
        div.Spaces {
            div.Body1 {
                width: 750px;
            }
        }
    }
}


@mixin screen992 {
    div.main {
        div.Spaces {
            div.Body1 {
                width: 900px;
            }
        }
    }
}


/* Extra small devices (phones, below 600px) */
@media only screen and (min-width: 320px) and (max-width: 599.9px) {
    @include screen320;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767.9px) {
    @include screen600;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
    @include screen768;
} 



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.9px) {
    @include screen992;
} 



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1535.9px) {

} 


